
/* схожа властивість є в https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css */
html {
  box-sizing: border-box;
}

/* схожа властивість є в https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css */

*,
*::before,
*::after{
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: #212121;
  --color-background: #F5F5F5;
}

body{
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-style: normal;
    background: var(--color-background);
    color: var(--color-primary);
    font-size: 14px;
    line-height: 1.19;
    font-weight: 400;
}
.page-header a {
    text-decoration: none;
}
.menu-nav a {
  color: var(--color-primary);
}
.menu-nav {
  display: block;
  display: flex;
  align-items: baseline;
  color: var(--color-primary);
}

.footer a {
  text-decoration: none;
}

.list {
  list-style: none; 
}

.nav-link{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-li:not(:last-child){
  margin-right: 50px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  

}

.order-button {
  font-family: inherit;
  font-style: normal; 
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  display: inline-block;
  min-width: 216px;
  height: 50px;
  margin-top: 30px; 
  margin-bottom: 200px; 
  margin-left: auto;
  margin-right: auto;
  padding: 0px 32px 0px;



  color: #FFFFFF;
  background-color: #2196F3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.hero-container{
  display: flex;
  flex-direction: column;

}
.menu-container{
  display: flex;
  height: 80px;
  align-items: baseline;
}


.site-nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.tel-mail{
  display: flex;
  margin-left: auto;
}

.telmail-item{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.telmail-li:last-child{
  margin-left: 50px;
}



.advantages-list{
  display: flex;
  flex-wrap: wrap;
}
.advantages-item{
  width: 270px;
}
.advantages-item:not(:last-child){
  margin-right: 30px;
}

.portfolio-default {
  font-family: inherit;
  font-style: normal; 
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: #2196F3;
  text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 0;
}

.portfolio-button {
  font-family: inherit;
  font-style: normal; 
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--color-primary);

  background-color: #F5F4FA;
  border-radius: 4px;
  border: 0;
}



.hero-title{
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
  display: inline-block;
  width: 696px;
  height: 120px;
  margin-top: 200px;

  
    margin-left: auto;
    margin-right: auto;
  color: #FFFFFF;
  }

.portfolio-button:hover {
  color: #FFFFFF;
  background-color: #2196F3;

}


.logo-link, .studio {
  color: #2196F3; 
 }




.logo-title{
  margin-right: 93px;
  width: 145px;
  padding: 0;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #212121;
}




.mailto-top, .tel-top{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  letter-spacing: 0.02em;

}


.site-nav a:hover, .site-nav a:focus, 
.tel-top:hover, .tel-top:focus,
.mailto-top:hover, .mailto-top:focus,
.tel:hover, .tel:focus,
.eml:hover, .eml:focus,
.address-map:hover, .address-map:focus
{
    color: #2196F3;
}

.link.current{
  color: #2196F3;
}



.about-ul{
  display: flex;
  margin-top: 94px;
}

.about-list{
  margin-top: 50px;
}
.about-list:not(:last-child){
  margin-right: 30px;
}

.about-container{
  padding-bottom: 94px;
  background-color: #fff;
}

.ourworks-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.36;
  letter-spacing: 0.03em;
}


.about-head{
  
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.36;
  letter-spacing: 0.03em;

}






.visually-hidden {
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.hero, .footer {
  background: #2F303A;
}



.order-button:hover, .order-button:focus{
  background-color: #188CE8;
}



.order-text{
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}


.page-header{
    background: #FFFFFF;
}

.logo-link, .studio {
  color: #2196F3; 
 }

.advantages-container{
  background-color: #fff;
  padding-top: 94px;
  padding-bottom: 118px;
}

 .advantages-head{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.36;
  letter-spacing: 0.03em;
}

.advantages-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.advantages-description{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
  letter-spacing: 0.03em;
  color: #757575;
}


.ourteam-head{
  margin-top: 94px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.36;
  letter-spacing: 0.03em; 
}


.ourteam-ul{
  display: flex;
}

.ourteam-block  {
  margin-bottom: 94px;
  background-color: #FFF;
}
.ourteam-block:not(:last-child){
  margin-right: 30px;
}

.ourteam-title{
  margin-top: 30px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.ourteam-description{
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}



.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #FFF;
}

.work-title{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.work-decription{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}



.portfolio-list{
  display: flex;
  justify-content:center;
  margin-bottom: 20px;
}

.our-works{
  display: flex;
  flex-wrap: wrap;
}
.works-li{
  margin: 30px 15px 15px 30px;
}

.works-li:nth-of-type(3n+1) {
  margin-left: 0;
}
.works-li:nth-of-type(3n) {
  margin-right: 0;
}
.works-li:nth-last-of-type(-n+3) {
  margin-bottom: 0;
}

.portfolio-button{
  margin-left: 8px;
}




.address li  {
  display: block;
  font-style: normal;
}


.address a  {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);

}

.footer-logo{
  display: inline-block;
  margin-top: 60px;
}
.address-map{
  display: inline-block;
  margin-top: 20px;
}
.eml{
  display: inline-block;
  margin-top: 8px;
}
.tel{
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 60px;
}
.address-map, .footer-logo{
  color: #FFFFFF;
} 


